<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}



/* Burger nav */


@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #d4d7fa;
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 10;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1000px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 0px solid #333;
    height: 3.5em;
    padding: .50em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: .50em 0;
    width: 100%;
    color: #000000;
    background-color: #d4d7fa;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

body {
  font-family: Arial, sans-serif;
}

/* Divisions for content sections */
.myDivwhite {
  border: 0px outset; 
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right:25px;
  background-color: #ffffff;
  text-align: left;
  font-size: 15px;
 color: #333333;
}

.myDiv2 {
  border: 0px outset;
  padding-left:25px;
  padding-right:25px;
  padding-top:5px;
  padding-bottom:5px;
  background-color: #ffffff;
  font-size: 15px;
  text-align: left;
  color: #55565e;
}
.myDivblue {
  border: 0px outset;
  padding-left:25px;
  padding-right:25px;
  padding-top:5px;
  padding-bottom:5px;
  background-color: #e8eafa;
  font-size: 15px;
  text-align: left;
}
.myDiv4 {
  border: 0px outset;
  padding-left:25px;
  padding-right:25px;
  padding-top:5px;
  padding-bottom:5px;
  background-color: #55565e;
  text-align: left;
  font-size: 15px;
  color: #ffffff;
}
.titleDiv1 {
  border: 0px outset;
  padding-left:25px;
  padding-right:0px;
  padding-bottom:10px;
  padding-top:20px;
  background-color: #55565e;
  text-align: left;
  font-size: 25px;
  color:#ffffff;
  
}
.titleDivwhite {
  border: 0px outset;
  padding-top:20px;
  padding-left:25px;
  padding-right:0px;
  padding-bottom:10px;
  background-color: #ffffff;
  text-align: left;
  font-size: 25px;
  color: #55565e;
}
.titleDiv3 {
  border: 0px outset;
  padding-left:25px;
   padding-bottom:10px;
   padding-top:20px;
  padding-right:0px;
  background-color: #e8eafa;
  text-align: left;
  font-size: 25px;
  color: #ffffff;
}
.titleDiv4 {
  border: 0px outset;
  padding-top:20px;
  padding-left:25px;
  padding-right:0px;
   padding-bottom:10px;
  background-color: #ffffff;
  text-align: left;
  font-size: 25px;
  
}




/* Style the header */
header {
  width:100%;
  background-color: #e8eafa;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: #333333;
}

/* Create two columns/boxes that floats next to each other */
nav {
  width: 100%;
  height: 50px; /* only for demonstration, should be removed */
  background: #ffffff;
  padding: 0px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  
  padding: 10px;
  width: 100%;
  background-color: #eeeeee;
  
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  width:100%;
  background-color: #333333;
  padding: 50px;
  text-align: center;
  font-size: 20px;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
